shamefully-hoist=true
public-hoist-pattern[]=nuxt
public-hoist-pattern[]=*@nuxt/*
public-hoist-pattern[]=vue
public-hoist-pattern[]=vue-*
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=core-js
store-dir=/pnpm-store
